@import '~antd/dist/antd.css';

.main-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: aliceblue;
}

.container {
  display: block;
  padding: 5em;
  background: white;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.main-container-2 {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 20px;
  background: aliceblue;
}

.container-wrapper {
  min-width: 95%;
  display: block;
  padding: 2em;
  background: white;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}
.login-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
