@import '~antd/dist/antd.css';

.container-wrapper {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 20px;
  background: aliceblue;
}

.container {
  min-width: 95%;
  display: block;
  padding: 2em;
  background: white;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}
